@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="container">
        <form method="post" asp-controller="Home" asp-action="Import" enctype="multipart/form-data">
            <input type="file" name="file" required>
            <button type="submit">Import from excel</button>
        </form>
    </div>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
